--- # delius-stage all.yml
region: eu-west-2
project_name: delius
environment_name: delius-stage
simple_environment_name: stage
ndelius_version: "4.5.7"
catalog: PCAT
data_classification: official-data
required_patches:
    p20807155:
      filename: p20807155_112040_Linux-x86-64.zip
      description: ORA-07445 Updating Table with CLOB
      grid_patch: false
      database_patch: true
    p27659043:
      filename: p27659043_11204180417_Linux-x86-64.zip
      description: MES Bundle Patch for April 2018 PSU
      postinstall_sql: postinstall.sql
      grid_patch: false
      database_patch: true
delegated_account_id: "205048117103"
