--- # delius_primarydb.yml

database_global_database: STGNDA
database_taf_service: STGNDA_TAF
database_primary_unique: STGNDA
database_primary_sid: STGNDA
rman_level_0_backup_duration_target: "21:00"
rman_uncompressed_backup: Y
oracle_osbws_chunk_size: 104857600
delius_users:
  jstanley_ro:
  amarke_ro:
  arichardson_ro:
  cbarnett_ro:
  eliddiard_ro:
  jevans_ro:
  cfaulkner_ro:
  ebrindley_ro:
  dnicholson_ro:
  jprinold_ro:
  olewis_ro:
  asetchi_ro: