--- # delius_primarydb.yml

database_global_database: STGNDA
database_taf_service: STGNDA_TAF
database_primary_unique: STGNDA
database_primary_sid: STGNDA
rman_level_0_backup_duration_target: "21:00"
rman_uncompressed_backup: Y
