--- # misboe_primarydb.yml

database_global_database: STGBOE
database_taf_service: STGBOE_TAF
database_primary_unique: STGBOE
database_primary_sid: STGBOE
database_parameters:
   sga_max_size: 3G
   sga_target: 3G
   pga_aggregate_target: 1500M
   pga_aggregate_limit: 3G
rman_retention_policy: RECOVERY WINDOW OF 31 DAYS
database_autotasks:
      statistics_advisor: disabled
required_patches:
    p26749785:
      patch_files:
         - target_version: "19.9"
           filename: p26749785_199000DBRU_Generic.zip
         - target_version: "19.12"
           filename: p26749785_1912000DBRU_Generic.zip
         - target_version: "19.14"
           filename: p26749785_1914000DBRU_Generic.zip
         - target_version: "19.16"
           filename: p26749785_1916000DBRU_Generic.zip
         - target_version: "19.18"
           filename: p26749785_1918000DBRU_Generic.zip
      description: PERF_DIAG NEED TO HAVE MORE CONTROL IN DICTIONARY FOR AUTO_STATS_ADVISOR_TASK
      grid_patch: false
      database_patch: true
      datapatch_required: true
delius_users:
  bbuchan_dba:
  rsingh_dba:
  dreid_dba:
  sgandalwar_dba:
  kmoss_dba:
oracle_software:
  version: 19.18
  combo_patch: p34773504_190000_Linux-x86-64.zip
  opatch:
    version: 12.2.0.1.36
    filename: p6880880_190000_Linux-x86-64.12.2.0.1.36.zip