--- # delius-core-sandpit all.yml
region: eu-west-2
project_name: delius-core
environment_name: delius-core-sandpit
simple_environment_name: sandpit
ndelius_version: "4.2.9.6"
catalog: DCAT
data_classification: unclassified-data
certificate_orchestration_override_renewal_period_in_days: 2
certificate_orchestration_override_replace_when_expiring_in_days: 1
certificate_orchestration_override_cert_expire_in_days: 3
certificate_orchestration_override_root_ca_cert_expire_in_days: 3
high_availability_count: 2
required_patches:
    p18841764:
      filename: p18841764_112040_Linux-x86-64.zip
      description: ORA-12592 TNS Bad Packet
      grid_patch: true
      database_patch: true
    p20807155:
      filename: p20807155_112040_Linux-x86-64.zip
      description: ORA-07445 Updating Table with CLOB
      grid_patch: false
      database_patch: true
    p27659043:
      filename: p27659043_11204180417_Linux-x86-64.zip
      description: MES Bundle Patch for April 2018 PSU
      postinstall_sql: postinstall.sql
      grid_patch: false
      database_patch: true
    p18371441:
      filename: p18371441_112040_Linux-x86-64.zip
      description: ORA-19755 from RMAN recover of file with missing BCT file during duplicate
      grid_patch: false
      database_patch: true