--- # delius-core-sandpit all.yml
region: eu-west-2
project_name: delius-core
environment_name: delius-core-sandpit
simple_environment_name: sandpit
ndelius_version: "4.2.9"
catalog: DCAT
data_classification: unclassified-data