--- # mis_standbydb2.yml

database_standby_unique: DATMISS2
database_standby_sid: DATMISS2
required_patches:
    p18841764:
      filename: p18841764_112040_Linux-x86-64.zip
      description: ORA-12592 TNS:BAD PACKET on large datasets
      grid_patch: true
      database_patch: true