--- # all.yml
region: eu-west-2

# Buckets
dependencies_bucket:
  name: tf-eu-west-2-hmpps-eng-dev-delius-core-dependencies-s3bucket
  arn: arn:aws:s3:::tf-eu-west-2-hmpps-eng-dev-delius-core-dependencies-s3bucket # (also defined in tfvars: dependencies_bucket_arn)

# Delius LDAP
ldap_config:
  rbac_version: 5.5.8 # This default should match the version in Prod
  # The following vars are duplicated in common.tfvars, as they are required by terraform as well as in ansible runtime tasks (eg. RBAC uplift):
  protocol: ldap
  bind_user: cn=admin,dc=moj,dc=com
  base_root: dc=moj,dc=com
  base_users: ou=Users,dc=moj,dc=com
  base_service_users: cn=EISUsers,ou=Users,dc=moj,dc=com
  base_roles: cn=ndRoleCatalogue,ou=Users,dc=moj,dc=com
  base_role_groups: cn=ndRoleGroups,ou=Users,dc=moj,dc=com
  base_groups: ou=Groups,dc=moj,dc=com
