--- # delius_standbydb2.yml

database_standby_unique: DMTNDAS2
database_standby_sid: DMTNDAS2
database_primary_unique: DMTNDA
required_patches:
    p27659043:
      filename: p27659043_11204180417_Linux-x86-64.zip
      description: MES Bundle Patch for April 2018 PSU
      postinstall_sql: postinstall.sql
      grid_patch: false
      database_patch: true