--- # delius-core-dev all.yml
region: eu-west-2
project_name: delius-core
environment_name: delius-core-dev
simple_environment_name: dev
ndelius_version: "5.7.14"
catalog: DCAT
data_classification: unclassified-data
database_autotasks:
      sql_tuning_advisor: disabled
      auto_space_advisor: disabled
autotask_windows:
        weekday:
                start_time: "06:20"
                duration_mins: 30
required_patches:
    p31810213:
      patch_files:
         - target_version: "19.9"
           filename: p31810213_199000DBRU_Linux-x86-64.zip
      description: Ora-600 [kghuclientasp_04] after upgrade to 19c database (Doc ID 2730880.1)
      grid_patch: false
      database_patch: true
    p30828205:
      patch_files:
         - target_version: "19.9"
           filename: p30828205_199000DBRU_Linux-x86-64.zip
      description: Data Pump does not support compatibility above 19.0
      postinstall_sql: postinstall.sql
      grid_patch: false
      database_patch: true
    p30616738:
      patch_files:
         - target_version: "19.9"
           filename: p30616738_199000DBRU_Linux-x86-64.zip
      description: ORA-600 [qesrLoopOverSetRowP:rows] From Query In Job That Used To Work In 11g (Doc ID 2596180.1) 
      grid_patch: false
      database_patch: true
database_parameters:
   sga_max_size: 3280M
   sga_target: 3280M
   pga_aggregate_target: 1640M
   pga_aggregate_limit: 3280M
oracle_osbws_chunk_size: 104857600
emctl_agent: /u01/app/oracle/oem13c_agent/agent_inst/bin/emctl
