--- # delius-training-test all.yml
region: eu-west-2
project_name: delius
environment_name: delius-training-test
simple_environment_name: training-test
ndelius_version: "4.4.14"
catalog: DCAT
data_classification: unclassified-data
required_patches:
    p27659043:
      filename: p27659043_11204180417_Linux-x86-64.zip
      description: MES Bundle Patch for April 2018 PSU
      postinstall_sql: postinstall.sql
      grid_patch: false
      database_patch: true
    p18371441:
      filename: p18371441_112040_Linux-x86-64.zip
      description: ORA-19755 from RMAN recover of file with missing BCT file during duplicate
      grid_patch: false
      database_patch: true