--- # delius-test all.yml
region: eu-west-2
project_name: delius
environment_name: delius-test
simple_environment_name: test
ndelius_version: "4.2.9.6"
catalog: DCAT
data_classification: unclassified-data