--- # delius_primarydb.yml

database_global_database: TSTNDA
database_taf_service: TSTNDA_TAF
database_primary_unique: TSTNDA
database_primary_sid: TSTNDA
rman_uncompressed_backup: Y
rman_level_0_backup_duration_target: "02:00"
cfo_database_directory: "/u01/app/oracle/admin/{{ database_global_database }}/cfo"
delius_users:
  amarke_ro:
  mberridge_ro:
  mwillis_ro:
  pphillips_ro:
  smitchell_ro:
  mwetherall_ro:
  rchalamalasetty_ro:
  arichardson_ro:
  eliddiard_ro:
  jevans_ro:
  ebrindley_ro:
  cfaulkner_ro:
  