--- # delius-perf all.yml
region: eu-west-2
project_name: delius
environment_name: delius-perf
simple_environment_name: perf
ndelius_version: "4.4.14"
catalog: PCAT
data_classification: official-data
required_patches:
    p18371441:
      filename: p18371441_112040_Linux-x86-64.zip
      description: ORA-19755 from RMAN recover of file with missing BCT file during duplicate
      grid_patch: false
      database_patch: true