--- # delius-pre-prod all.yml
region: eu-west-2
project_name: delius
environment_name: delius-pre-prod
simple_environment_name: pre-prod
ndelius_version: "4.4.14"
catalog: PCAT
data_classification: official-data
delegated_account_id: "010587221707"