--- # delius_primarydb.yml

database_global_database: PRENDA
database_taf_service: PRENDA_TAF
database_primary_unique: PRENDA
database_primary_sid: PRENDA
database_parameters:
   control_management_pack_access: DIAGNOSTIC+TUNING
rman_level_0_backup_duration_target: "21:00"
rman_uncompressed_backup: Y
cfo_database_directory: "/u01/app/oracle/admin/{{ database_global_database }}/cfo/shared_files/National/cfo"
delius_users:
  amarke_ro:
  jstanley_ro:
  mwillis_ro:
  pphillips_ro:
  smitchell_ro:
required_patches:
    p27659043:
      filename: p27659043_11204180417_Linux-x86-64.zip
      description: MES Bundle Patch for April 2018 PSU
      postinstall_sql: postinstall.sql
      grid_patch: false
      database_patch: true
    p20807155:
      filename: p20807155_112040_Linux-x86-64.zip
      description: ORA-07445 Updating Table with CLOB
      grid_patch: false
      database_patch: true
