--- # mis_primarydb.yml

database_global_database: PREMIS
database_taf_service: PREMIS_TAF
database_primary_unique: PREMIS
database_primary_sid: PREMIS
database_parameters:
   control_management_pack_access: DIAGNOSTIC
required_patches:
    p18841764:
      filename: p18841764_112040_Linux-x86-64.zip
      description: ORA-12592 TNS:BAD PACKET on large datasets
      grid_patch: true
      database_patch: true