--- # delius-prod all.yml
region: eu-west-2
project_name: delius
environment_name: delius-prod
simple_environment_name: prod
ndelius_version: "4.4.14"
catalog: PCAT
data_classification: official-data
