--- # delius-prod all.yml
region: eu-west-2
project_name: delius
environment_name: delius-prod
simple_environment_name: prod
ndelius_version: "6.5.15.0.2"
catalog: PCAT
data_classification: official-data

# DEPRECATED - remove after WebLogic upgrade (ALS-2957):
prepare_a_case_url: https://prepare-case-probation.service.justice.gov.uk/

emctl_agent: /u01/app/oracle/oem13c_agent/agent_inst/bin/emctl
