--- # delius_standbydb2.yml

database_standby_unique: PRDNDAS2
database_standby_sid: PRDNDAS2
database_primary_unique: PRDNDA
database_parameters:
   control_management_pack_access: DIAGNOSTIC+TUNING
   adg_account_info_tracking: LOCAL
active_data_guard: true
